$activeColor: black;
.mainWrapper {
  margin: 5em auto 2em auto;
  width: 80%;
}
.mainTop {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .topDivs {
    padding: 1em;
    margin: 0 1em;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 750px) and (max-width: 1170px) {
  .mainTop {
    display: grid;
    grid-template-columns: 1fr;
  }
}
