$activeColor: #2c3e50;
@import url("https://fonts.googleapis.com/css?family=Raleway");
@mixin easeOut {
  transition: all 0.5s ease-out;
}

.card {
  width: 200px;
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid white;

  .cardImg {
    margin: 1em auto;
    width: 190px;
    align-items: center;
  }

  .cardInfo {
    padding: 1em;
    .price {
      font-weight: bolder;
    }
    .brand {
      font-weight: bolder;
    }
  }

  &:hover {
    @include easeOut();
    border: 1px solid gray;
  }
}

.noMargin {
  margin: 0px;
  padding: 0px;
}
