@import url("https://fonts.googleapis.com/css?family=Patua+One");
.App {
  text-align: center;

  h1 {
    font-family: "Patua One", cursive;
    font-size: 50px;
  }
  .com {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px !important;
  }
}
